a{
	text-decoration: none;
}

/* SIDEBAR */

.sideBar{
	z-index: 999;
	overflow-y: scroll;
	position: fixed;
	top: 63px;
	width: 250px;
	height: calc(100% - 100px);
	background-color: #fff;
	box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);
	padding: 10px 0 10px 0;
}

.sideBar .item{
	font-size: 12px;
	color: #000;
	text-decoration: none;
	margin-right: 15px;
	margin-left: 15px;
	width: 185px;
	padding: 10px 15px 10px 15px;
}

.sideBar .item:hover{
	background-color: #444;
	color: #fff;
}

.sideBar .item img{
	margin-right: 5px;
}

.sideBar .seperator{
	margin-right: 15px;
	margin-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 185px;
	height: 1px;
	border-bottom: solid #444 1px;
}

.sideBar .label{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;
	margin-left: 30px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #FE563B;
}

/* TOOLBAR */

.Toolbar{
	z-index: 999;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	min-width: 900px;
	height: 63px;
	background-color: #fff;
	border-bottom: solid #e8e8e8 1px;
}

.Toolbar .logo{
	display:inline-block;
	background: url("http://plychannel.com/Images/logo.png");
	background-size: 100%;
	width: 180px;
	height: 47px;
	margin: 8px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.Toolbar .menuButton{
	display:inline-block;
	background: url("http://plychannel.com/Images/Toolbar/menu.png");
	background-size: 100%;
	width: 46px;
	height: 28px;
	margin: 8px;
	margin-bottom: 16px;
}

.Toolbar .menuButton:hover{
	background: url("http://plychannel.com/Images/Toolbar/menu_active.png");
	cursor: hand;
	cursor: pointer;
}

.Toolbar .menuButton:active{
	background: url("http://plychannel.com/Images/Toolbar/menu_red_active.png");
}

.Toolbar .menuButtonRed{
	display:inline-block;
	background: url("http://plychannel.com/Images/Toolbar/menu_red.png");
	background-size: 100%;
	width: 46px;
	height: 28px;
	margin: 8px;
	margin-bottom: 16px;
}

.Toolbar .menuButtonRed:hover{
	background: url("http://plychannel.com/Images/Toolbar/menu_red_active.png");
	cursor: hand;
	cursor: pointer;
}

.Toolbar .menuButtonRed:active{
	background: url("http://plychannel.com/Images/Toolbar/menu_active.png");
}

.Toolbar .search{
	display:inline-block;
	margin: 8px;
	position: relative;
	top:-26px;
}

.Toolbar .search .searchBar{
	display:inline-block;
	border: solid #CCC 1px;
	padding: 2px 6px;
	outline: none;
	margin: 0px;
	height: 23px;
	width: 200px;
}

.Toolbar .search .searchBar:focus{
	border: solid #FE563B 1px;
}

.Toolbar .search .searchButton{
	display:inline-block;
	position: relative;
	top: 9px;
	right: 4px;
	background: url("http://plychannel.com/Images/Toolbar/searchButton.png") 100%;
	width: 66px;
	height: 29px;
	border: 0;
}

.Toolbar .search .searchButton:hover{
	background: url("http://plychannel.com/Images/Toolbar/searchButton_active.png") 100%;
	cursor: hand;
	cursor: pointer;
}

.Toolbar .uploadButton{
	display: inline-block;
	background: url("http://plychannel.com/Images/Toolbar/uploadButton.png") 100%;
	width: 65px;
	height: 28px;
	margin: 6px;
	margin-bottom: 16px;
}

.Toolbar .uploadButton:hover{
	background: url("http://plychannel.com/Images/Toolbar/uploadButton_active.png") 100%;
}